R.java
.classpath
.project
bin/
gen/
project.properties
target/
docs/report/report.aux
docs/report/report.log
docs/report/report.pdf
docs/report/report.synctex.gz
docs/report/report.toc
docs/report/report.bbl
docs/report/report.blg
docs/report/report.dvi
